<% @projects.each do |name, project| %>
<div class="project" id="<%= project.name %>">
	<h2><%= project.name %></h2>
	<span class="status <%= project.last_build_status %>"></span>
	<div class="bottom_tab">
		<span class="last_build">Latest Build: <%= project.builds.last.dashboard_time unless project.builds.last.nil? %></span>
		<a class="tab_button view_project" href="/<%= project.name %>">Details</a>
		<a class="tab_button build_project" href="#">Build</a>
	</div>
</div>
<% end %>