<div class="project" id="<%= @project.name %>">
  <h2>
    <%= @project.name %>
  </h2>
  <span class="status <%= @project.last_build_status %>"></span>
  <div class="bottom_tab">
		<span class="last_build">Latest Build: <%= @project.builds.first.dashboard_time unless @project.builds.first.nil? %></span>
		<a class="tab_button build_project" href="#">Build</a>
	</div>
</div>

<% @builds.each do |build| %>
  <div class="build">
    <span class="status <%= build.status_class %>"></span>
    <p class="title">
      Build Time: <%= build.friendly_time %>
    </p>
    
    <div class="build_details">
      <div><span class="label">Committer:</span><%= build.commit_info["committer"]["name"]%></div>
      <div><span class="label">Comment:</span><%= build.commit_info["message"]%></div>
    </div>
    
    <% unless build.payload.nil? %>
    <div class="build_details">
      <div><span class="label">Github Project:</span><%= build.payload["repository"]["name"] %></div>
      <div><span class="label">Compare URL:</span><%= build.payload["compare"]%></div>
    </div>
    <% end %>
    
    <div class="results">
      <pre class="terminal"><code><%= ansi_color_codes(build.output) %></code></pre>
    </div>
    <p class="results_toggle">
      show more
    </p> 
  </div>
<% end %>